{% load static%}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Playwrite+NZ:wght@100..400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Herr+Von+Muellerhoff&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Great+Vibes&family=Herr+Von+Muellerhoff&display=swap" rel="stylesheet"><meta name="viewport" content = "width=device-width, initial-scale = 1">

</head>


<body>
    <div class="intro">
        {% include 'main/header.html' %}
        <div class="main">
            <div class="container">
                <div class="main_text1">
                    <p class="name">Primum</p>
                    <p class="adress">ул. Петровка 2, Москва, 125009</p>
                    <p class="number">+7123756789</p>
                    <div class="button"><a href="{% url 'menu' %}" class="button1">Посмотреть меню</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="benefits">
        <div class="container container1">
            <div class="benefits_1">
                <div class="benefits1_photo"></div>
                <div class="benefits1_text">
                    <p class="benefits_text_name">Гармония вкуса и аромата</p>
                    <p class="benefits_text_main">Мы готовим для вас блюда, которые сочетают свежие ингредиенты и изысканные ароматы. Каждое блюдо — результат мастерства и любви к кулинарии.</p>
                </div>
            </div>
            <div class="benefits_2">
                <div class="benefits2_photo"></div>
                <div class="benefits2_text">
                    <p class="benefits_text_name">Вдохновленные традициями, созданные для вас</p>
                    <p class="benefits_text_main">Наши повара черпают вдохновение в традиционных рецептах, привнося в них современные нотки и создавая блюда, которые вам точно захочется попробовать снова.</p>
                </div>
            </div>
            <div class="benefits_3">
                <div class="benefits3_photo"></div>
                <div class="benefits3_text">
                    <p class="benefits_text_name">Незабываемые впечатления с каждым приемом пищи</p>
                    <p class="benefits_text_main">Мы стремимся создать для вас уникальные гастрономические впечатления, наполненные теплом и уютом. Каждый визит — это встреча с особенной атмосферой и нашими вкусами.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <div class="about_photo">
            <div class="name_about">
                <p class="name">Изысканная еда в уютной атмосфере</p>
            </div>
        </div>

        <div class="about_main">
            <div class="about_main_photo1"></div>
            <div class="about_main_photo2"></div>
            <div class="about_main_text">
                <p>Мы верим, что каждый гость заслуживает не только вкусной еды, но и теплой атмосферы. Наш ресторан — это место, где можно почувствовать заботу и уют, насладиться общением и забыть о суете будней.</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="footer_line"></div>
            <div class="rights">
                <p>Все права защищены © 2024, Название</p>
            </div>
        </div>
    </div>
</body>
</html>